table {
    margin:auto;
    font-size: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 80%;
    height:80%;
    text-align: left;
    border-collapse: collapse;
}
table, th, td {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
th, td {
    padding: 10px;
}

button {
    border-radius: 15%;
}
.edit {
    background-color: yellow;
}
.del {
    background-color: red;
}